#loginman-body {
  background: linear-gradient(225deg, #0c1626 0%, #00535e 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.loginman-form {
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1106px) {
  .loginman-illus {
    display: none;
  }
  .loginman-container {
    gap: 0;
  }
}
