#register-body {
  background: linear-gradient(225deg, #4d3386 0%, #00535e 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.register-form {
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1106px) {
  .register-illus {
    display: none;
  }
  .register-container {
    gap: 0;
  }
}
